.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
.perspective {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem; /* как rounded-xl */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* для Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.card-front {
  background-color: white;
  border: 1px solid #d1d5db; /* gray-300 */
  color: #1f2937; /* gray-800 */
}

.card-back {
  background-color: #d1fae5; /* green-100 */
  border: 1px solid #34d399; /* green-400 */
  color: #065f46; /* green-800 */
  transform: rotateY(180deg);
}
